.container {
  position: relative;
  text-align: end;
  width: 35rem;
}

.openMenuContainer {
  position: absolute;
  width: 100%;
  background: white;
  max-height: 80vh;
  overflow-y: scroll;
  z-index: 10;
}

.link {
  text-decoration: none;
}

.listItem {
  font-size: medium;
  line-height: 0.8;
}