.mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  width: 100%;
  padding: 0 2.5rem;
  background: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);
}

.title {
  font-size: 1.5rem;
  font-weight: 800;
  font-family: Capriola;

  color: #ff5c5c;
}
